







src/optic
*.o
callgrind.*
*.*~
benchmarks/gen_*.txt
benchmarks/.res
benchmarks/table.*
casestudies/factoring/*.dot
casestudies/factoring/*.cnf
__pycache__
*.*~
*.pyc
benchmarks/Makefile
casestudies/factoring/table.*
casestudies/factoring/.res/*
casestudies/factoring/Makefile
tools/propagationTester/Makefile
tools/propagationTester/Tool.pro.user
tools/propagationTester/half_adder.txt
tools/propagationTester/propagationtester
tools/propagationTester/trivial_ok_example.txt
tools/propagationTester/xortest.txt
src/Tool.pro.user

